body{
  background-image:url(assets/win\ botlle.jpg );
  background-position: center;
  background-size: cover;
  text-align: center;
  object-position: center;
}

 h1,h2{
    color: rgb(79, 53, 104);
}

.class1,p{
    color: rgb(241, 206, 160);
    
}
